<div>
  <div style="padding-top:10px">
    <form class="form-horizontal" (ngSubmit)="onSubmit(registerForm)" [formGroup]="registerForm">
      <div class="form-group">
        <label class="control-label col-sm-2" for="task">Task:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="task" id="task" placeholder="Enter Task Name " formControlName="Task">
        </div>
        <div *ngIf="submitted && f.Task.errors" class="col-sm-4 invalid-feedback">
          <div *ngIf="f.Task.errors.required">Task is required</div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="priority">Priority:</label>
        <div class="col-sm-6">
          <input type="range" class="form-control" min="0" max="30" id="priority" formControlName="Priority">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="ptask">Parent Task:</label>
        <div class="col-sm-6">
          <select id="ParentTask" class="form-control" formControlName="ParentTask">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="ptask">Start Date:</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" name="sdate" id="sdate" formControlName="StartDate">
        </div>
        <div *ngIf="submitted && f.StartDate.errors" class="col-sm-4 invalid-feedback">
          <div *ngIf="f.StartDate.errors.required">StartDate is required</div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="ptask">End Date:</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" name="sdate" id="sdate" formControlName="EndDate">
        </div>
        <div *ngIf="submitted && f.EndDate.errors" class="col-sm-4 invalid-feedback">
          <div *ngIf="f.EndDate.errors.required">EndDate is required</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
          <input type="submit" value="Add Task" style="background:grey ;font-weight:bolder" class="btn form-control button"
            [disabled]="!form.valid">
        </div>
        <div class="col-sm-3">
          <input type="button" value="Reset" style="background:grey ;font-weight:bolder" class="btn form-control button"
            (click)='OnReset()'>
        </div>
      </div>
    </form>
  </div>
</div>
