<div class="form-horizontal">
  <div class="form-group">
    <label class=" col-sm-2" for="task">Task:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="task" id="task">
    </div>
    <label class=" col-sm-2" for="ParentTask">Parent Task:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="ParentTask" id="ParentTask">
    </div>
  </div>
  <div class="form-group">
    <label class=" col-sm-1" for="p1">Priority Form:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="p1" id="p1">
    </div>
    <label class=" col-sm-1" for="p2">Priority To:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="p2" id="p2">
    </div>
    <label class=" col-sm-1" for="s">Start Date:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="s" id="s">
    </div>
    <label class=" col-sm-1" for="s1">End Date:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="s1" id="s1">
    </div>
  </div>
</div>
<ul class="list-group">
  <li class="list-group-item">
    <div class="form-horizontal">
      <div class="form-group">
        <table class="table">
          <thead>
            <th>Task</th>
            <th>Parent Task</th>
            <th>Priority</th>
            <th>Start</th>
            <th>End</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </li>
</ul>
